.MD-cont {
    h1::first-letter,
    h2::first-letter,
    h3::first-letter,
    h4::first-letter,
    h5::first-letter,
    h6::first-letter,
    p::first-letter,
    ol::first-letter,
    ul::first-letter {
        @apply capitalize;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        width: 100%;
        @apply border-b-[1px] border-black dark:border-white;
    }

    h1 {
        @apply text-5xl mb-8;
    }
    h2 {
        @apply text-4xl my-8;
    }
    h3 {
        @apply text-3xl my-6;
    }
    h4 {
        @apply text-2xl my-4;
    }
    h5 {
        @apply text-xl my-2;
    }
    h6 {
        @apply text-lg my-2;
    }

    p {
        @apply text-base w-fit;
    }

    a {
        @apply text-primary relative dark:text-violet-300 text-violet-500 transition-all;
    }
    a:hover {
        @apply dark:text-violet-500 text-violet-700;
    }

    ol {
        @apply list-decimal pl-4;
        li {
            @apply ml-6;
        }
    }
    ul {
        @apply list-disc list-inside;
        li {
            @apply ml-6;
        }
    }
    li {
        @apply text-base pt-2;
        text-align: -webkit-match-parent;
    }

    blockquote {
        @apply px-4 font-thin relative;
        width: fit-content;
        font: italic;
    }
    blockquote::before {
        @apply absolute -top-2;
        content: "\201C";
        display: block;
        font-size: 30px;
        left: 0;
    }
    blockquote::after {
        @apply absolute -top-2;
        content: "\201D";
        display: block;
        font-size: 30px;
        left: 100%;
    }
    pre {
        @apply bg-black rounded-md px-3 py-4 w-full text-white overflow-x-auto;
    }

    table {
        @apply w-full rounded-xl border border-gray-300;
        > tr:not(:last-child) {
            @apply border-b border-gray-300;
        }
        tr > td,
        tr > th {
            @apply pl-2 py-1 border-b border-gray-300;
        }
        tr > td:not(:first-child) tr > th:not(:first-child) {
            @apply border-l;
        }
    }
}
